{% extends './base.html' %}
{% load static %}
{% block body %}

<link rel="stylesheet" href="{% static 'css/carrito.css' %}">



<div class="container mt-5">
    <h1 class="text-center font-weigth-normal" style="color: black;">Productos</h1> 
</div>


    
    <section class="container mt-4 d-flex mb-5">
        <div class="row">
            {% for p in prod %}
                <div class="col-md-4 mt-5">
                    <div class="card item">                       
                        <img src="{{p.imagenUrl.url}}" alt="" class="img-item card-img-top w-100 ">
                            <div class="card-body">
                                <h2 class="titulo-item">{{p.nombre}}</h2>
                                <div class="d-flex justify-content-between">
                                    <p class="card-text">{{p.descripcion}}</p>
                                    <P class="precio-item mr-4 text-success">${{p.precio}}</p>
                                    
                                </div>
                                <p class="card-text">Stock:{{p.stock}}</p>
                            </div>
                            <button class="boton-item btn d-flex" id="botonColor">
                                Agregar
                            </button>
                            
                    </div>
                    <a href="{% url 'eliminar_stock' producto_id=p.sku %}" class="btn-eliminar">Comprar</a>
                </div>   
            {% endfor %}
        </div>
    </section>
</div>


    
<!-- Estoy probando un carrito nuevoDS-->
<div class="container">
    <div class="carrito" id="carrito">
        

        <div class="carrito-items">
            <div class="carrito-total">
            <div class="fila">
                <strong>Tu Total</strong>
                <span class="carrito-precio-total">
                    
                </span>
            </div>
            <button class="btn-pagar" id="botonColor">
                Comprar
            </button>
            <!-- <a href="" class="btn-pagar">Comprar</a> -->
            
        </div>
        
        </div>
    </div>
    
</div>

{% if mensaje %}
    <div class="mensaje">{{ mensaje }}</div>
{% endif %}

    <script src="{% static 'js/carritoDcompras.js'  %}" async></script>
    
{% endblock %}
